<div class="bg-page-bg text-black rounded-sm p-3 mb-2 w-full text-sm">
    <div class="flex items-start mb-2">
        <i
            class="icon-tick bg-green text-white rounded-sm float-left mr-2 text-md p-1"
        ></i>
        <div><strong>Q{{NUMBER}}:</strong> {{QUESTION}}</div>
    </div>

    <div>
        <img src="{{IMAGE_URL}}" class="w-auto mt-2" />
    </div>

    <div class="bg-white rounded-sm p-2 w-full text-sm">
        <div>
            <span class="font-bold">Collected answer:</span>
            <div class="pre-line mt-1">"{{ANSWER}}"</div>
        </div>
    </div>
</div>
