<div class="bg-page-bg text-black rounded-sm p-3 mb-2 w-full text-sm">
    <p>After submitting an answer on Educake, the answer is marked.</p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 w-full text-sm">
    <div class="flex items-start mb-2">
        <i
            class="icon-tick bg-green text-white rounded-sm float-left mr-2 text-md p-1"
        ></i>
        <div>
            <strong>Q1:</strong> Energy can never be stored. True or False?
        </div>
    </div>

    <div class="rounded-sm p-2 w-full text-sm">
        <div class="mb-1">
            <span class="font-bold">Your answer:</span>
            <div class="pre-line mt-1">"FALSE"</div>
        </div>
        <div>
            <span class="font-bold">Accepted answer:</span>
            <div class="pre-line mt-1">"FALSE"</div>
        </div>
    </div>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 w-full text-sm">
    <p>
        Before a quiz, EduQuick sends dummy answers to fetch the correct ones,
        so you can
        <span class="underline">achieve 100% on your first try</span>.
    </p>
    <br />
    <p>
        If you don't feel like typing, EduQuick can
        <span class="underline">auto-answer in seconds</span>.
    </p>
    <br />
    <p>
        <strong>Note:</strong> Dummy answers don't affect your score or quiz
        attempts.
    </p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 w-full text-sm">
    <p>
        <strong>Tip:</strong> Clicking the EduQuick bookmarklet again will hide
        it.
    </p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 w-full text-sm">
    <p><strong>Version:</strong> {{VERSION}}</p>
</div>
