<div class="bg-page-bg text-black rounded-sm p-3 mb-2 text-sm">
    <p>This is where you will be able to view answers.</p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 text-sm">
    <p class="mb-2">Each icon represents the status of your answer:</p>

    <div class="flex items-center mb-2">
        <i
            class="icon-cross bg-grey-40 text-grey-40 rounded-sm mr-2 text-md p-1"
            data-role="none"
        ></i>
        <span>Empty answer (no input submitted)</span>
    </div>

    <div class="flex items-center mb-2">
        <i
            class="icon-cross bg-red text-white rounded-sm mr-2 text-md p-1"
            data-role="cross"
        ></i>
        <span>Incorrect answer</span>
    </div>

    <div class="flex items-center">
        <i
            class="icon-tick bg-green text-white rounded-sm mr-2 text-md p-1"
            data-role="tick"
        ></i>
        <span>Correct answer</span>
    </div>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 text-sm">
    <p>
        <strong>Warning:</strong> Teachers are able to see how long it takes you
        to complete a quiz.
    </p>
    <br />
    <p>Auto-answer will not account for this.</p>
    <br />
    <p>
        The speed of auto-answer depends on your device performance and/or
        internet connection.
    </p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 text-sm">
    <p>If your answer is incorrect, EduQuick will prevent submission.</p>
</div>

<div class="bg-page-bg text-black rounded-sm p-3 mb-2 text-sm">
    <p>
        <strong>Tip:</strong> To force submission, click on the
        <em>Enter key</em>.
    </p>
</div>
